@import url(https://fonts.googleapis.com/css?family=Righteous);
.hero-name {
    display: inline-block;
    color: white;
    font-family: 'Righteous', serif;
    font-size: 7em;
    text-shadow: .03em .03em 0 #FFF8F3;
}

.hero-name:after {
    content: attr(data-shadow);
    position: fixed;
    top: .06em;
    left: .06em;
    z-index: -1;
    text-shadow: none;
    background-size: .05em .05em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes shad-anim {
    0% {
        background-position: 0 0
    }
    0% {
        background-position: 100% -100%
    }
}