<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Satyam Mishra, Portfolio, graphics portfolio website, responsive portfolio website">
    <meta name="description" content="Portfolio website">
    <meta name="author" content="Satyam Mishra">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--LOADING SCREEN, NAVBAR, SOCIAL BUTTONS-->
    <link rel="stylesheet" href="/static/website-files/soical_button.css">
    <link rel="stylesheet" href="/static/website-files/nav_bar.css">
    <link rel="stylesheet" href="/static/website-files/loading_screen.css">
    <!--ANIMATIONS-->
    <link rel="stylesheet" href="/static/website-files/slide-up.css">
    <link rel="stylesheet" href="/static/website-files/nav-scroll.css">
    <link rel="stylesheet" href="/static/website-files/float-anim.css">
    <link rel="stylesheet" href="/static/website-files/anim-bg.css">

    <!--GLOWING BUTTON-->
    <link rel="stylesheet" href="/static/website-files/button-glow.css">
    <title>Satyam Mishra</title>

    <!--Bootstrap 5 CDN Script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>

</head>

<style>
    @import url(https://fonts.googleapis.com/css?family=Righteous);
     :root {
        --Void: #0E0B16;
        --FUSCHIA: #A239CA;
        --JEWEL: #4717F6;
        --STRAK:#E7DFDD;
    }
    p,span{
        color: var(--STRAK);
    }
    body {
        font-family: 'Fira Code', monospace;
    }
    
    #content {
        display: none;
        opacity: 0;
    }
    .card{
        border-radius: 25px;
        border: none;
    }
    .card:hover{
        -ms-transform: scale(1.09);
        -moz-transform: scale(1.09);
        -webkit-transform: scale(1.09);
        -o-transform: scale(1.09);
        transform: scale(1.09);
    }

</style>

<body onload="ScreenLoader()" data-spy="scroll" data-target="#fixed-nav" data-bs-offset="50" style="position: relative; background-color:#0E0B16;">
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div >
    <div id="content" class="container p-0">
        <header class="header fixed-top">
            <!-- Logo --> 
            <h2 class="logo"><strong style="color: var(--JEWEL);">Satyam</strong> Mishra</h2>


            <!-- Hamburger icon -->
            <input class="side-menu" type="checkbox" id="side-menu" />
            <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>



            <!-- Menu -->
            <nav class="nav">
                <ul class="menu">
                    <li><a href="#heroimage" class="active">Home</a></li>
                    <li><a href="#About">About</a> </li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#footer">Contact</a></li>
                </ul>
            </nav>

        </header>



        <section id="heroimage" class="pt-sm-5 pb-sm-5 container-fluid mt-0 mb-0" style="background-image:url('/static/universal-elements/satyam-vector-2.webp'); background-repeat: no-repeat; background-size: cover; background-position: center;max-width: max-content; min-width: 100%;min-height: 600px;">
            <div class="center container-fluid anim" style="background-color: transparent;">
                <h2 style="color: var(--JEWEL);">I am a <i style="color: var(--FUSCHIA);">Developer|Programmer.</i></h5>
            </div>
        </section>





        <section id="About" class="container-fluid px-4 py-lg-5 py-md-4 py-3 reveal fade-bottom" >
            <h1 style="color: var(--JEWEL);text-align:center;text-decoration: underline;" class="display-5 fw-bold">About</h1>

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-lg-5 py-3">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark" style="background-image: url('/static/universal-elements/about-work-bg-image.webp'); position: relative; background-repeat: no-repeat; background-size: cover;">
                        <div class="d-flex flex-column h-100 p-lg-4 p-5 pb-3 text-white text-shadow-1">
                            <h2 style="color: var(--JEWEL);" class="pt-1 mt-2 mb-4 display-6 lh-1 fw-bold anim">Eduction & Work</h2>
                            <p class="lead mb-2 anim">B.TECH <strong>(Computer Science in AI and ML)  from VIT AP</strong></p>

                            <p class="lead mb-2 anim">Member of <strong>REC</strong>(Renewable energy club).</p>
                            <p class="lead mb-4 anim">Member of <strong>IAAA</strong>(International Amateur Astronomical Association).</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark" style="background-image: url('/static/universal-elements/about-Interests-bg-image.webp'); position: relative; background-repeat: no-repeat; background-size: cover;">
                        <div class="d-flex flex-column h-100 p-lg-4 p-5 pb-3 text-white text-shadow-1">
                            <h2 style="color: var(--JEWEL);" class="pt-1 mt-2 mb-4 display-6 lh-1 fw-bold anim">Interests</h2>
                            <div class="gap-2d-sm-flex justify-content-center mb-4 anim">

                                <span class="badge rounded-pill bg-light text-black">Sketching</span>
                                <span class="badge rounded-pill bg-light text-black">Fitness</span>
                                <span class="badge rounded-pill bg-light text-black">Music</span>
                                <span class="badge rounded-pill bg-light text-black">Basic Calisthenics</span>
                                <span class="badge rounded-pill bg-light text-black">Technology</span>
                                <span class="badge rounded-pill bg-light text-black">Psychology</span>
                                <span class="badge rounded-pill bg-light text-black">Cosmology</span>
                                <span class="badge rounded-pill bg-light text-black">Machine Learning</span>
                                <span class="badge rounded-pill bg-light text-black">AI</span>
                                <span class="badge rounded-pill bg-light text-black">Gadgets</span>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark" style="background-image: url('/static/universal-elements/about-skills-bg-image.webp'); position: relative; background-repeat: no-repeat; background-size: cover;">
                        <div class="d-flex flex-column h-100 p-lg-4 p-5 pb-3 text-white text-shadow-1">
                            <h2 style="color: var(--JEWEL);" class="pt-1 mt-2 mb-4 display-6 lh-1 fw-bold anim">Skills</h2>
                            <div class="gap-2d-sm-flex justify-content-center mb-4 anim">

                                <span class="badge rounded-pill bg-black text-white">Python</span>
                                <span class="badge rounded-pill bg-black text-white">Bootstrap</span>
                                <span class="badge rounded-pill bg-black text-white">Godot Engine</span>
                                <span class="badge rounded-pill bg-black text-white">GD-Script</span>
                                <span class="badge rounded-pill bg-black text-white">HTML</span>
                                <span class="badge rounded-pill bg-black text-white">CSS</span>
                                <span class="badge rounded-pill bg-black text-white">JavaScript</span>
                                <span class="badge rounded-pill bg-black text-white">Django</span>
                                <span class="badge rounded-pill bg-black text-white">Flask</span>
                                <span class="badge rounded-pill bg-black text-white">Java</span>
                                <span class="badge rounded-pill bg-black text-white">JavaFX</span>
                                <span class="badge rounded-pill bg-black text-white">Graphic Designing</span>
                                <span class="badge rounded-pill bg-black text-white">Canva</span>
                                <span class="badge rounded-pill bg-black text-white">Kivy/kivymd</span>
                                <span class="badge rounded-pill bg-black text-white">Tkinter</span>
                                <span class="badge rounded-pill bg-black text-white">Problem Solving</span>
                                <span class="badge rounded-pill bg-black text-white">PyQt5</span>
                                <span class="badge rounded-pill bg-black text-white">Full stack Web development</span>
                                <span class="badge rounded-pill bg-black text-white">MongoDB</span>
                                <span class="badge rounded-pill bg-black text-white">SQL</span>
                                <span class="badge rounded-pill bg-black text-white">Git</span>
                                <span class="badge rounded-pill bg-black text-white">GitHub</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>








        <section id="projects" class="container-fluid px-4  mb-0 reveal fade-left">
            <div class="container p-2">
                <h1 style="color: var(--JEWEL);text-align: center;text-decoration: underline;" class="display-5 fw-bold shake-anim">Current projects</h1>

                <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                    <div class="col anim">
                        <div class="card card-cover h-100 overflow-hidden text-white" style="background-image: linear-gradient(to bottom right, var(--FUSCHIA), var(--JEWEL));">
                            <div class="d-flex flex-column h-100 p-4 pb-3 text-shadow-1">
                                <h3 style="color: var(--STRAK);" class="display-5 fw-bold anim">Simple Web Browser</h3>
                                <div class="col-lg-6 mx-auto anim">
                                    <!-- text can be added here-->
                                    <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                        <span class="badge rounded-pill bg-light text-black">Pyqt5</span>
                                        <span class="badge rounded-pill bg-light text-black">Python</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col anim">
                        <div class="card card-cover h-100 overflow-hidden text-white" style="background-image: linear-gradient(to bottom right, var(--FUSCHIA), var(--JEWEL));">
                            <div class="d-flex flex-column h-100 p-4 pb-3 text-shadow-1">
                                <h3 style="color: var(--STRAK);" class="display-5 fw-bold anim">Shape out - Game</h3>
                                <div class="col-lg-6 mx-auto anim">
                                    <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                        <span class="badge rounded-pill bg-light text-black">Godot Engine</span>
                                        <span class="badge rounded-pill bg-light text-black">Gd-Script</span>
                                    </div>
                                </div>
                                <br>
                                <a style="text-align: center;" target="_blank" href="https://www.amazon.com/Bedead-Shape-Out-2d-platformer/dp/B0999LHBYN/ref=sr_1_1?qid=1648120404&refinements=p_4%3ABedead&s=mobile-apps&search-type=ss&sr=1-1"><button type="button" class="btn glow-on-hover mb-1">Show Project</button></a>
                            </div>
                        </div>
                    </div>


                    <div class="col anim">
                        <div class="card card-cover h-100 overflow-hidden text-white" style="background-image: linear-gradient(to bottom right, var(--FUSCHIA), var(--JEWEL));">
                            <div class="d-flex flex-column h-100 p-4 pb-3 text-shadow-1">
                                <h3 style="color: var(--STRAK);" class="display-5 fw-bold anim">Simple Calculator</h3>
                                <div class="col-lg-6 mx-auto anim">
                                    <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                        <span class="badge rounded-pill bg-light text-black">Kivy</span>
                                        <span class="badge rounded-pill bg-light text-black">Kivymd</span>
                                        <span class="badge rounded-pill bg-light text-black">Python</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col anim">
                        <div class="card card-cover h-100 overflow-hidden text-white" style="background-image: linear-gradient(to bottom right, var(--FUSCHIA), var(--JEWEL));">
                            <div class="d-flex flex-column h-100 p-4 pb-3 text-shadow-1">
                                <h3 style="color: var(--STRAK);" class="display-5 fw-bold anim">Translation App</h3>
                                <div class="col-lg-6 mx-auto anim">
                                    <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                        <span class="badge rounded-pill bg-light text-black">Kivymd</span>
                                        <span class="badge rounded-pill bg-light text-black">Kivy</span>
                                        <span class="badge rounded-pill bg-light text-black">PyDictionary</span>
                                        <span class="badge rounded-pill bg-light text-black">Python</span>
                                    </div>
                                </div>
                                <br>
                                <a style="text-align: center;" target="_blank" href="https://github.com/bedead/kivymd-language-translation-app"><button type="button" class="btn mb-1 px-3 glow-on-hover">Show Project</button></a>
                            </div>
                        </div>
                    </div>


                    <div class="col anim">
                        <div class="card card-cover h-100 overflow-hidden text-white" style="background-image: linear-gradient(to bottom right, var(--FUSCHIA), var(--JEWEL));">
                            <div class="d-flex flex-column h-100 p-4 pb-3 text-shadow-1">
                                <h3 style="color: var(--STRAK);" class="display-5 fw-bold anim">This Portfolio Website</h3>
                                <div class="col-lg-6 mx-auto anim">
                                    <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                        <span class="badge rounded-pill bg-light text-black">Django</span>
                                        <span class="badge rounded-pill bg-light text-black">Html</span>
                                        <span class="badge rounded-pill bg-light text-black">Bootstrap</span>
                                        <span class="badge rounded-pill bg-light text-black">JavaScript</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col anim">
                        <div class="card card-cover h-100 overflow-hidden text-white" style="background-image: linear-gradient(to bottom right, var(--FUSCHIA), var(--JEWEL));">
                            <div class="d-flex flex-column h-100 p-4 pb-3 text-shadow-1">
                                <h3 style="color: var(--STRAK);" class="display-5 fw-bold anim">Face Detection</h3>
                                <div class="col-lg-6 mx-auto anim">
                                    <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                        <span class="badge rounded-pill bg-light text-black">OpenCV</span>
                                        <span class="badge rounded-pill bg-light text-black">Python</span>
                                        <span class="badge rounded-pill bg-light text-black">Casscade Models</span>
                                    </div>
                                </div>
                                <br>
                                <a style="text-align: center;" target="_blank" href="https://github.com/bedead/FACE-DETECTOR"><button type="button" class="btn mb-1 px-3 glow-on-hover">Show Project</button></a>
                            </div>
                        </div>
                    </div>


                    <div class="col anim">
                        <div class="card card-cover h-100 overflow-hidden text-white" style="background-image: linear-gradient(to bottom right, var(--FUSCHIA), var(--JEWEL));">
                            <div class="d-flex flex-column h-100 p-4 pb-3 text-shadow-1">
                                <h3 style="color: var(--STRAK);" class="display-5 fw-bold anim">Hi Software</h3>
                                <div class="col-lg-6 mx-auto v">
                                    <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                        <span class="badge rounded-pill bg-light text-black">SpeechRecognition</span>
                                        <span class="badge rounded-pill bg-light text-black">Python</span>
                                        <span class="badge rounded-pill bg-light text-black">More libraries</span>
                                    </div>
                                </div>
                                <br>
                                <a style="text-align: center;" target="_blank" href="https://github.com/bedead/HI_2021.12.22.4"><button type="button" class="btn mb-1 px-3 glow-on-hover">Show Project</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>








        <!-- Remove the container if you want to extend the Footer to full width. -->
        <section id="footer" class="container-fluid mt-0 reveal fade-right" >

            <footer class="text-center text-lg-start mt-0 pt-4">
                <!-- Grid container -->
                <div class="container p-4">
                    <div class="social-buttons text-center mx-auto mt-0 mb-2">
                        <h4 style="color: var(--JEWEL);" class="text-uppercase mb-4 font-weight-bold anim">Social Links</h4>
                        <a target="_blank" style="color: #00006fff;" alt="linkedin link" href="https://www.linkedin.com/in/satyam-mishra-019bab225"><i class="fa fa-linkedin"></i></a>
                        <a target="_blank" style="color: #00006fff;" alt="github link" href="https://github.com/bedead"><i class="fa fa-github"></i></a>
                        <a target="_blank" style="color: #00006fff;" alt="mail link" href="mailto:satyam.work.only@gmail.com"><i class="fa fa-google"></i></a>
                    </div>
                <!-- Grid container -->
                </div>
                <!-- Copyright -->
                <div style="color: var(--STRAK);" class="text-center p-3">
                    © 2020 Copyright:
                    <a style="color: var(--FUSCHIA);" class="" href="/">Satyam Mishra</a>
                </div>
                <!-- Copyright -->
            </footer>

        </section>
        <!-- End of .container -->
    </div>

    <div id='loader-wrapper' class="center">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

</body>
<script>
    var myVar;
    // screenloader code for website
    function ScreenLoader() {
        myVar = setTimeout(showPage, 900);
    }

    function showPage() {
        document.getElementById("loader-wrapper").style.display = "none";
        document.getElementById("content").style.display = "block";
    }

    document.getElementById("content").onload = fadeIn();

    function fadeIn() {
        var fade = document.getElementById("content");
        var opacity = 0;
        var intervalID = setInterval(function() {

            if (opacity < 1) {
                opacity = opacity + 0.1
                fade.style.opacity = opacity;
            } else {
                clearInterval(intervalID);
            }
        }, );
    }
    //

    // slide up animation for elements
    const images = document.querySelectorAll('.anim');

    observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.intersectionRatio > 0) {
                entry.target.classList.add('slide-up-anim');
            }
        });
    });
    images.forEach(image => {
        observer.observe(image);
    });
    //


    // nav scroll effect on active element
    let section = document.querySelectorAll("section");
    let menu = document.querySelectorAll("div header nav ul li a");

    window.onscroll = () => {
        section.forEach((i) => {
            let top = window.scrollY;
            let offset = i.offsetTop - 150;
            let height = i.offsetHeight;
            let id = i.getAttribute("id");

            if (top >= offset && top < offset + height) {
                menu.forEach((link) => {
                    link.classList.remove("active");
                    document
                        .querySelector("div header nav ul li a[href*=" + id + "]")
                        .classList.add("active");
                });
            }
        });
    };

    function reveal() {
        var reveals = document.querySelectorAll(".reveal");

        for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 150;

            if (elementTop < windowHeight - elementVisible) {
                reveals[i].classList.add("active");
            } else {
                reveals[i].classList.remove("active");
            }
        }
    }

    window.addEventListener("scroll", reveal);

    reveal();
    //

</script>
</html>
