<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Satyam Mishra, Portfolio, graphics portfolio website, responsive portfolio website">
    <meta name="description" content="Portfolio website">
    <meta name="author" content="Satyam Mishra">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/website-files/soical_button.css">
    <link rel="stylesheet" href="/static/website-files/hero-name.css">
    <link rel="stylesheet" href="/static/website-files/nav_bar.css">
    <title>Satyam Mishra</title>
</head>

<style>
    body {
        font-family: 'Fira Code', monospace;
    }
    
    .hover-nav-color:hover {
        background-color: #E9DAC1;
    }
    
    .hover-nav-color-dark:hover {
        background-color: #00006fff;
    }
    
    .nav-item a.nav-active {
        border-bottom: 3px solid #C3B091;
    }
    
    .nav-active {
        border-bottom: 3px solid #C3B091;
    }
    
    .map-container-3 {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }
    
    .map-container-3 iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
</style>

<body data-spy="scroll" data-target="#fixed-nav" data-bs-offset="50" style="position: relative;">


<!-- 


    <nav id="fixed-nav" class="navbar navbar-expand-lg fixed-top" aria-label="Horizontal navbar">
        <div class="container-lg">

            <h1 class="nav-active font-italic" style="color: #00006fff">Portfolio</h1>
            <div class="btn-group d-flex">
                <a id="light-btn" class="btn btn-outline-light active" onclick="change_mode()">Light</a>
                <a id="dark-btn" class="btn btn-outline-dark" onclick="change_mode()">Dark</a>
            </div>
            <ul class="text-center nav nav-pills rounded-3 justify-content-center float-md-end float-sm-none">
                <li class="nav-item">
                    <a style="color: #00006fff;" class="nav-text nav-active nav-link hover-nav-color" href="#heroimage">Home</a>
                </li>
                <li class="nav-item">
                    <a style="color: #00006fff;" class="nav-text nav-active nav-link hover-nav-color" href="#About">About</a>
                </li>
                <li class="nav-item">
                    <a style="color: #00006fff;" class="nav-text nav-active nav-link hover-nav-color" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a style="color: #00006fff;" class="nav-text nav-active nav-link hover-nav-color" href="#footer">Contact</a>
                </li>
            </ul>
        </div>
    </nav> -->

    
    <header class="header fixed-top">
        <!-- Logo -->
        <a href="#" class="logo">Portfolio</a>

        <!-- Hamburger icon -->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

        <!-- Menu -->
        <nav class="nav">
            <ul class="menu">
                <li><a href="#heroimage">Home</a></li>
                <li><a href="#About">About</a> </li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#footer">Contact</a></li>
            </ul>
        </nav>
    </header>



    <div id="heroimage" class="pt-sm-5 pb-sm-5 container-fluid mt-0 mb-0" style="background-color: #EEEEEE;background-image:url('/static/universal-elements/satyam-vector-2.webp'); background-repeat: no-repeat; background-size: cover; background-position: center; height: 100%;">
        {% for message in get_flashed_messages() %}
        <br>
        <br>
        <br>
        <div class="container-fluid pt-sm-5 p-lg-0 p-md-2 py-sm-3">
            <div class="alert alert-info alert-dismissible" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
        <div class="container-fluid p-5 pb-md-4 pb-sm-5 pt-sm-5" style="text-align: center; top: 50%; left: 50%;">
            <div class="p-lg-5 p-md-4 pt-sm-5 pb-sm-5 mt-5 mb-5" style="background-color: transparent; border:none;">
                <div class="p-lg-0 p-md-4 pt-sm-5 pb-sm-5 mt-5 mb-5" style="background-color: transparent; border:none;">
                    <h1 style="color: #00006fff;" class="display-1 hero-text pt-5 pt-lg-0">Satyam Mishra</h1>
                    <h5 style="color: #00006fff;" class="display-5 pt-3 pt-lg-0 pb-3 pb-lg-0 pb-md-0">I am a Developer | Programmer</h5>
                </div>
            </div>
        </div>
    </div>





    <div id="About" class="container-fluid px-4 py-lg-5 py-md-4 py-3" style="background-color: #FFF8F3;">
        <h1 style="padding-left: 20px; color: #00006fff;" class="display-2 fw-bold shake-anim">About</h1>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-lg-5 py-3">
            <!-- Time for multiple clouds to dance around -->
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg" style="background-image: url('/static/universal-elements/about-work-bg-image.webp'); position: relative; background-repeat: no-repeat; background-size: cover;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-1 mt-2 mb-4 display-6 lh-1 fw-bold">Work</h2>
                        <p class="lead mb-1">Member of <strong>CSI Chapter</strong>(Computer society of India).</p>
                        <p class="lead mb-4">Member of <strong>IAAA</strong>(International Amateur Astronomical Association).</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg" style="background-image: url('/static/universal-elements/about-Interests-bg-image.webp'); position: relative; background-repeat: no-repeat; background-size: cover;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-1 mt-2 mb-4 display-6 lh-1 fw-bold">Interests</h2>
                        <div class="gap-2d-sm-flex justify-content-center mb-4 anim">

                            <span class="badge rounded-pill bg-light text-black">Sketching</span>
                            <span class="badge rounded-pill bg-light text-black">Fitness</span>
                            <span class="badge rounded-pill bg-light text-black">Music</span>
                            <span class="badge rounded-pill bg-light text-black">Basic Calisthenics</span>
                            <span class="badge rounded-pill bg-light text-black">Technology</span>
                            <span class="badge rounded-pill bg-light text-black">Psychology</span>
                            <span class="badge rounded-pill bg-light text-black">Cosmology</span>
                            <span class="badge rounded-pill bg-light text-black">Machine Learning</span>
                            <span class="badge rounded-pill bg-light text-black">AI</span>
                            <span class="badge rounded-pill bg-light text-black">Gadgets</span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg" style="background-image: url('/static/universal-elements/about-skills-bg-image.webp'); position: relative; background-repeat: no-repeat; background-size: cover;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-1 mt-2 mb-4 display-6 lh-1 fw-bold">Skills</h2>
                        <div class="gap-2d-sm-flex justify-content-center mb-4 anim">

                            <span class="badge rounded-pill bg-black text-white">Python</span>
                            <span class="badge rounded-pill bg-black text-white">Bootstrap</span>
                            <span class="badge rounded-pill bg-black text-white">Godot Engine</span>
                            <span class="badge rounded-pill bg-black text-white">GD-Script</span>
                            <span class="badge rounded-pill bg-black text-white">HTML</span>
                            <span class="badge rounded-pill bg-black text-white">CSS</span>
                            <span class="badge rounded-pill bg-black text-white">JavaScript</span>
                            <span class="badge rounded-pill bg-black text-white">Django</span>
                            <span class="badge rounded-pill bg-black text-white">Flask</span>
                            <span class="badge rounded-pill bg-black text-white">Java</span>
                            <span class="badge rounded-pill bg-black text-white">Graphic Designing</span>
                            <span class="badge rounded-pill bg-black text-white">Canva</span>
                            <span class="badge rounded-pill bg-black text-white">Kivy/kivymd</span>
                            <span class="badge rounded-pill bg-black text-white">Tkinter</span>
                            <span class="badge rounded-pill bg-black text-white">Problem Solving</span>
                            <span class="badge rounded-pill bg-black text-white">PyQt5</span>
                            <span class="badge rounded-pill bg-black text-white">Full stack Web development</span>
                            <span class="badge rounded-pill bg-black text-white">MongoDB</span>
                            <span class="badge rounded-pill bg-black text-white">SQL</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <div id="projects" class="container-fluid px-4 py-5 mb-0" style="background-color: #EEEEEE; background-attachment: fixed; background-image: url('/static/universal-elements/projects-bg-image.webp');
    background-size: cover;background-repeat: no-repeat;">
        <div class="container p-2">
            <h1 style="color: #00006fff;" class="display-2 fw-bold shake-anim">Current projects</h1>

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg" style="background-image: url('/static/universal-elements/projects-card-bg.jfif'); position: relative; background-repeat: no-repeat; background-size: cover;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h3 class="display-5 fw-bold">Simple Web Browser</h3>
                            <div class="col-lg-6 mx-auto">
                                <!-- text can be added here-->
                                <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                    <span class="badge rounded-pill bg-light text-black">Pyqt5</span>
                                    <span class="badge rounded-pill bg-light text-black">Python</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg" style="background-image: url(' /static/universal-elements/projects-card-bg.jfif'); position: relative; background-repeat: no-repeat; background-size: cover;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h3 class="display-5 fw-bold">Shape out - Game</h3>
                            <div class="col-lg-6 mx-auto">
                                <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                    <span class="badge rounded-pill bg-light text-black">Godot Engine</span>
                                    <span class="badge rounded-pill bg-light text-black">Gd-Script</span>
                                </div>
                            </div>
                            <a target="_blank" href="https://www.amazon.com/Bedead-Shape-Out-2d-platformer/dp/B0999LHBYN/ref=sr_1_1?qid=1648120404&refinements=p_4%3ABedead&s=mobile-apps&search-type=ss&sr=1-1"><button style="background-color: #00006fff;" type="button" class="text-white btn btn-outline-dark mb-1 px-3 shake-anim">Show Project</button></a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg" style="background-image: url('/static/universal-elements/projects-card-bg.jfif'); position: relative; background-repeat: no-repeat; background-size: cover;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h3 class="display-5 fw-bold">Simple Calculator</h3>
                            <div class="col-lg-6 mx-auto">

                                <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                    <span class="badge rounded-pill bg-light text-black">Kivy</span>
                                    <span class="badge rounded-pill bg-light text-black">Kivymd</span>
                                    <span class="badge rounded-pill bg-light text-black">Python</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg" style="background-image: url('/static/universal-elements/projects-card-bg.jfif'); position: relative; background-repeat: no-repeat; background-size: cover;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h3 class="display-5 fw-bold">Translation App</h3>
                            <div class="col-lg-6 mx-auto">
                                <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                    <span class="badge rounded-pill bg-light text-black">Kivymd</span>
                                    <span class="badge rounded-pill bg-light text-black">Kivy</span>
                                    <span class="badge rounded-pill bg-light text-black">PyDictionary</span>
                                    <span class="badge rounded-pill bg-light text-black">Python</span>
                                </div>
                            </div>
                            <a target="_blank" href="https://github.com/bedead/kivymd-language-translation-app"><button style="background-color: #00006fff;" type="button" class="text-white btn btn-outline-dark mb-1 px-3 shake-anim">Show Project</button></a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg" style="background-image: url('/static/universal-elements/projects-card-bg.jfif'); position: relative; background-repeat: no-repeat; background-size: cover;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h3 class="display-5 fw-bold">This Portfolio Website</h3>
                            <div class="col-lg-6 mx-auto">
                                <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                    <span class="badge rounded-pill bg-light text-black">Django</span>
                                    <span class="badge rounded-pill bg-light text-black">Html</span>
                                    <span class="badge rounded-pill bg-light text-black">Bootstrap</span>
                                    <span class="badge rounded-pill bg-light text-black">JavaScript</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg" style="background-image: url('/static/universal-elements/projects-card-bg.jfif'); position: relative; background-repeat: no-repeat; background-size: cover;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h3 class="display-5 fw-bold">Face Detection</h3>
                            <div class="col-lg-6 mx-auto">

                                <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                    <span class="badge rounded-pill bg-light text-black">OpenCV</span>
                                    <span class="badge rounded-pill bg-light text-black">Python</span>
                                    <span class="badge rounded-pill bg-light text-black">Casscade Models</span>
                                </div>
                            </div>
                            <a target="_blank" href="https://github.com/bedead/FACE-DETECTOR"><button style="background-color: #00006fff;" type="button" class="text-white btn btn-outline-dark mb-1 px-3 shake-anim">Show Project</button></a>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-3 shadow-lg" style="background-image: url('/static/universal-elements/projects-card-bg.jfif'); position: relative; background-repeat: no-repeat; background-size: cover;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h3 class="display-5 fw-bold">Hi Software</h3>
                            <div class="col-lg-6 mx-auto">
                                <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                    <span class="badge rounded-pill bg-light text-black">SpeechRecognition</span>
                                    <span class="badge rounded-pill bg-light text-black">Python</span>
                                    <span class="badge rounded-pill bg-light text-black">More libraries</span>
                                </div>
                            </div>
                            <a target="_blank" href="https://github.com/bedead/HI_2021.12.22.4"><button style="background-color: #00006fff;" type="button" class="text-white btn btn-outline-dark mb-1 px-3 shake-anim">Show Project</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div id="footer" class="container-fluid mt-0" style="background-color: #FFF8F3;">

        <footer class="text-center text-lg-start mt-0 pt-4">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="social-buttons text-center col-md-4 col-lg-12 col-xl-12 mx-auto mt-0 mb-2">
                        <h4 style="color: #00006fff;" class="text-uppercase mb-4 font-weight-bold">Social Links</h4>
                        <a target="_blank" style="color: #00006fff;" alt="linkedin link" href="https://www.linkedin.com/in/satyam-mishra-019bab225"><i class="fa fa-linkedin"></i></a>
                        <a target="_blank" style="color: #00006fff;" alt="github link" href="https://github.com/bedead"><i class="fa fa-github"></i></a>
                        <a target="_blank" style="color: #00006fff;" alt="mail link" href="mailto:satyam.work.only@gmail.com"><i class="fa fa-google"></i></a>
                    </div>

                    <!--Grid column-->
                    <div class="col-lg-6 col-md-6 mb-0 mb-lg-0 mb-sm-3">
                        <div class="cols contact-from">
                            <h2 style="color: #00006fff;" class="text-center">Drop me a Message.</h2>
                            <div class="card pt-1 pb-0 " style="background-color: transparent; border: none; ">
                                <form class="justify-content-center p-lg-5" method="post" action="/" role="form">
                                    <!-- Name input -->
                                    <div class="form-outline mb-4">
                                        <input type="text" id="form4Example1" name="name" class="form-control shake-anim" placeholder="Enter your Name or Subject" />
                                    </div>
                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <input type="email" id="form4Example2" name="email" class="form-control shake-anim" placeholder="Enter your Email address" />
                                    </div>
                                    <!-- Message input -->
                                    <div class="form-outline mb-4">
                                        <textarea class="form-control shake-anim" id="form4Example3" name="msg" rows="4" placeholder="Enter the messege!"></textarea>
                                    </div>
                                    <!-- Submit button -->
                                    <button style="background-color: #00006fff;" type="submit" class="text-white btn btn-outline-dark mb-1 px-5 shake-anim">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-6 mb-0 mb-lg-0 mt-lg-0 mt-sm-3 mt-md-3">
                        <h2 style="color: #00006fff;" class="text-center">My Location</h2>
                        <div class="cols mt-lg-5 mt-sm-2 mt-md-1">
                            <div id="map-container-google-3 mt-sm-5" class="z-depth-1-half map-container-3">
                                <iframe title="My location" src="https://maps.google.com/maps?q=VitAP+Campus+MH3&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div style="color: #00006fff;" class="text-center p-3">
                © 2020 Copyright:
                <a style="color: #00006fff;" class="" href="/">Satyam Mishra</a>
            </div>
            <!-- Copyright -->
        </footer>

    </div>
    <!-- End of .container -->


</body>
<script>
    let nav_child = document.querySelectorAll('.nav-text');
    var heroimage = document.getElementById("heroimage");
    var about = document.getElementById("About");
    var projects = document.getElementById("projects");
    var footer = document.getElementById("footer");

    function change_mode() {
        if (document.getElementById("light-btn").className == "btn btn-outline-light active") {
            heroimage.style.backgroundColor = "#060930";
            about.style.backgroundColor = "#333456";
            projects.style.backgroundColor = "#060930";
            footer.style.backgroundColor = "#333456";
            document.getElementById("light-btn").className = "btn btn-outline-light";
            document.getElementById("dark-btn").className = "btn btn-outline-dark active";
            nav_child.forEach(child => {
                child.style.color = "white";
                child.classList.remove("hover-nav-color");
                child.classList.add("hover-nav-color-dark");
            })
        } else {
            heroimage.style.backgroundColor = "#EEEEEE";
            about.style.backgroundColor = "#FFF8F3";
            projects.style.backgroundColor = "#EEEEEE";
            footer.style.backgroundColor = "#FFF8F3";
            document.getElementById("light-btn").className = "btn btn-outline-light active";
            document.getElementById("dark-btn").className = "btn btn-outline-dark";
            nav_child.forEach(child => {
                child.style.color = "#00006fff";
                child.classList.remove("hover-nav-color-dark");
                child.classList.add("hover-nav-color");
            })
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>

</html>

</html>