<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Satyam, Mishra, Portfolio">
    <meta name="description" content="portfolio website">
    <meta name="author" content="Satyam Mishra">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <title>Projects - Satyam Mishra</title>
</head>



<style media="screen" type="text/css">
    #content {
        display: none;
        opacity: 0;
    }
    
    .center {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
    }
    
    .wave {
        width: 5px;
        height: 100px;
        background: linear-gradient(45deg, #FFCC22, #fff);
        margin: 10px;
        animation: wave 1s linear infinite;
        border-radius: 20px;
    }
    
    .wave:nth-child(2) {
        animation-delay: 0.1s;
    }
    
    .wave:nth-child(3) {
        animation-delay: 0.2s;
    }
    
    .wave:nth-child(4) {
        animation-delay: 0.3s;
    }
    
    .wave:nth-child(5) {
        animation-delay: 0.4s;
    }
    
    .wave:nth-child(6) {
        animation-delay: 0.5s;
    }
    
    .wave:nth-child(7) {
        animation-delay: 0.6s;
    }
    
    .wave:nth-child(8) {
        animation-delay: 0.7s;
    }
    
    .wave:nth-child(9) {
        animation-delay: 0.8s;
    }
    
    .wave:nth-child(10) {
        animation-delay: 0.9s;
    }
    
    @keyframes wave {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    
    .slide-up-anim {
        visibility: visible;
        animation: slide 1s;
    }
    
    .slide-up-anim::after {
        /* useful when its child elements are float:left; */
        content: "";
        display: table;
        clear: both;
    }
    
    @keyframes slide {
        0% {
            opacity: 0;
            transform: translateY(100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    /*  button shake animation */
    
    .shake-anim:hover {
        animation-name: shakeAnim;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        position: relative;
    }
    
    @keyframes shakeAnim {
        0% {
            left: 0
        }
        1% {
            left: -3px
        }
        2% {
            left: 5px
        }
        3% {
            left: -8px
        }
        4% {
            left: 8px
        }
        5% {
            left: -5px
        }
        6% {
            left: 3px
        }
        7% {
            left: 0
        }
    }
    
    body {
        margin: 0;
        font-family: 'Roboto', Helvetica, sans-serif;
        height: 100vh;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>



<body onload="ScreenLoader()" style="background-image:url('static/universal-elements/back-banner.gif'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">

    <div id="content" class="container p-0">
        <div class="container-fluid p-4 text-center">
            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                <header>
                    <h2 class="text-white">Satyam Mishra</h2>
                    <div>
                        <button class="header__button nav-btn-js" type="button"></button>
                        <nav class="header__nav nav-js p-lg-3 pt-md-3" data-active="false">
                            <ul class="header__menu pt-lg-5 mt-5 pt-5">
                                <li class="header__menu-item"><a href="/">Home</a></li>
                                <li class="header__menu-item"><a href="about">About</a></li>
                                <li class="header__menu-item"><a href="projects">Projects</a></li>
                                <li class="header__menu-item"><a href="contact">Contact</a></li>
                            </ul>
                            <div class="social-buttons mt-0 pt-0">
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-github"></i></a>
                                <a href="#"><i class="fab fa-google"></i></a>
                            </div>
                        </nav>
                    </div>
                </header>
            </div>
        </div>


        <div class="container p-2">
            <h1 class="display-1 fw-bold shake-anim text-center text-white">Current projects</h1>
            <hr>
            <div class="row row-cols-lg-2 row-cols-sm-1 row-cols-md-2 g-2">
                <div class="cols">
                    <div class="px-4 pt-5 my-5 text-center border-top border-4 shadow anim rounded-3" style="color: whitesmoke; background-color: black;">
                        <h3 class="display-5 fw-bold">Simple Web Browser</h3>
                        <div class="col-lg-6 mx-auto">
                            <!-- text can be added here-->
                            <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                <span class="badge rounded-pill bg-light text-black">Pyqt5</span>
                                <span class="badge rounded-pill bg-light text-black">Python</span>
                            </div>
                        </div>
                        <div class="overflow-hidden" style="max-height: 30vh;">
                            <div class="container px-5">
                                <img src="/static/project-elements/current-project/browser-screen.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Browser image" width="600" height="500" loading="lazy">
                            </div>
                        </div>
                        <br>
                        <h5 style="float: left;">Last Version</h5>
                    </div>
                </div>
                <div class="cols">
                    <div class="px-4 pt-5 my-5 text-center border-top border-4 shadow anim rounded-3" style="color: whitesmoke;background-color: black;">
                        <h3 class="display-5 fw-bold">Shape out - Game</h3>
                        <div class="col-lg-6 mx-auto">

                            <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                <span class="badge rounded-pill bg-light text-black">Godot Engine</span>
                                <span class="badge rounded-pill bg-light text-black">Gd-Script</span>
                            </div>
                        </div>
                        <div class="overflow-hidden" style="max-height: 30vh;">
                            <div class="container px-5">
                                <img src="/static/project-elements/current-project/Shape-out-screen.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="game image" width="600" height="500" loading="lazy">
                            </div>
                        </div>
                        <br>

                        <h5 style="float: left;">Last Version</h5>
                    </div>
                </div>
                <div class="cols">
                    <div class="px-4 pt-5 my-5 text-center border-top border-4 shadow anim rounded-3" style="color: whitesmoke;background-color: black;">
                        <h3 class="display-5 fw-bold">Simple Calculator</h3>
                        <div class="col-lg-6 mx-auto">

                            <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                <span class="badge rounded-pill bg-light text-black">Kivy</span>
                                <span class="badge rounded-pill bg-light text-black">Kivymd</span>
                                <span class="badge rounded-pill bg-light text-black">Python</span>
                            </div>
                        </div>
                        <div class="overflow-hidden" style="max-height: 30vh;">
                            <div class="container px-5">
                                <img src="/static/project-elements/current-project/Calculator-screen.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Calculator image" width="600" height="500" loading="lazy">
                            </div>
                        </div>
                        <br>

                        <h5 style="float: left;">Last Version</h5>
                    </div>
                </div>
                <div class="cols">
                    <div class="px-4 pt-5 my-5 text-center border-top border-4 shadow anim rounded-3" style="color: whitesmoke;background-color: black;">
                        <h3 class="display-5 fw-bold">Translation App</h3>
                        <div class="col-lg-6 mx-auto">
                            <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                <span class="badge rounded-pill bg-light text-black">Kivymd</span>
                                <span class="badge rounded-pill bg-light text-black">Kivy</span>
                                <span class="badge rounded-pill bg-light text-black">PyDictionary</span>
                                <span class="badge rounded-pill bg-light text-black">Python</span>
                            </div>
                        </div>
                        <div class="overflow-hidden" style="max-height: 30vh;">
                            <div class="container px-5">
                                <img src="/static/project-elements/current-project/Translation-screen.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="App image" width="600" height="500" loading="lazy">
                            </div>
                        </div>
                        <br>

                        <h5 style="float: left;">New version coming..</h5>
                    </div>
                </div>
                <div class="cols">
                    <div class="px-4 pt-5 my-5 text-center border-top border-4 shadow anim rounded-3" style="color: whitesmoke;background-color: black;">
                        <h3 class="display-5 fw-bold">This Portfolio Website</h3>
                        <div class="col-lg-6 mx-auto">

                            <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                <span class="badge rounded-pill bg-light text-black">Django</span>
                                <span class="badge rounded-pill bg-light text-black">Html</span>
                                <span class="badge rounded-pill bg-light text-black">Bootstrap</span>
                                <span class="badge rounded-pill bg-light text-black">JavaScript</span>
                            </div>
                        </div>
                        <div class="overflow-hidden" style="max-height: 30vh;">
                            <div class="container px-5">
                                <img src="/static/project-elements/current-project/Website-screen.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Website image" width="600" height="500" loading="lazy">
                            </div>
                        </div>
                        <br>
                        <h5 style="float: left;">Constantly underdevelopment..</h5>
                    </div>
                </div>
                <div class="cols">
                    <div class="px-4 pt-5 my-5 text-center border-top border-4 shadow anim rounded-3" style="color: whitesmoke;background-color: black;">
                        <h3 class="display-5 fw-bold">Face Detection</h3>
                        <div class="col-lg-6 mx-auto">

                            <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                <span class="badge rounded-pill bg-light text-black">OpenCV</span>
                                <span class="badge rounded-pill bg-light text-black">Python</span>
                                <span class="badge rounded-pill bg-light text-black">Casscade Models</span>
                            </div>
                        </div>
                        <div class="overflow-hidden" style="max-height: 30vh;">
                            <div class="container px-5">
                                <video autoplay="autoplay" loop="true" controls muted class="img-fluid border rounded-3 shadow-lg mb-4">
                                    <source src="/static/project-elements/current-project/Face detector video.mp4" type="video/mp4" />
                                </video>
                            </div>
                        </div>
                        <br>
                        <h5 style="float: left;">Last Version</h5>
                    </div>
                </div>
                <div class="cols">
                    <div class="px-4 pt-5 my-5 text-center border-top border-4 shadow anim rounded-3" style="color: whitesmoke;background-color: black;">
                        <h3 class="display-5 fw-bold">Hi Software</h3>
                        <div class="col-lg-6 mx-auto">

                            <div class="gap-2 d-sm-flex justify-content-center mb-2">
                                <span class="badge rounded-pill bg-light text-black">Tkinter</span>
                                <span class="badge rounded-pill bg-light text-black">Speech Recognition</span>
                                <span class="badge rounded-pill bg-light text-black">Python</span>
                                <span class="badge rounded-pill bg-light text-black">More libraries</span>
                            </div>
                        </div>
                        <div class="overflow-hidden" style="max-height: 30vh;">
                            <div class="container px-5">
                                <img src="/static/project-elements/current-project/Website-screen.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Website image" width="600" height="500" loading="lazy">
                            </div>
                        </div>
                        <br>
                        <h5 style="float: left;">Last Version</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id='loader-wrapper' class="center">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

</body>


<script>
    var myVar;

    function ScreenLoader() {
        myVar = setTimeout(showPage, 500);
    }

    function showPage() {
        document.getElementById("loader-wrapper").style.display = "none";
        document.getElementById("content").style.display = "block";
    }

    document.getElementById("content").onload = fadeIn();

    function fadeIn() {
        var fade = document.getElementById("content");
        var opacity = 0;
        var intervalID = setInterval(function() {

            if (opacity < 1) {
                opacity = opacity + 0.2
                fade.style.opacity = opacity;
            } else {
                clearInterval(intervalID);
            }
        }, 300);
    }

    const images = document.querySelectorAll('.anim');

    observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.intersectionRatio > 0) {
                entry.target.classList.add('slide-up-anim');
            }
        });
    });

    images.forEach(image => {
        observer.observe(image);
    });
</script>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
    -->
<script src="/static/index.js"></script>
<script src="/static/reverler.js"></script>
<link href="/static/nav_bar.css" rel="stylesheet">

</html>

</html>